:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */
  --font-regular: 400;
  --font-bold: 700;
  --font-base: "Lexend Deca", sans-serif;
  --font-heading: "Big Shoulders Display", cursive;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Class */

.grid_icon {
  margin-top: 2rem;
  margin-left: 2rem;
}

.suv,
.luxury {
  margin-top: 2.5rem;
}
.grid_button {
  position: absolute;
  top: 13rem;
  width: 8rem;
  font-weight: 500;
  text-align: center;
  margin-left: 2rem;
  text-decoration: none;
  margin-top: 12rem;
  background-color: white;
  border-radius: 3rem;
  padding: 0.8rem;
  font-family: var(--font-base);
  font-size: 0.8rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem;
  width: 1000px;
  margin: 0 auto;
}

/* Grid Sedan */

.grid_sedan {
  background-color: var(--bright-orange);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 0.5rem;
  height: 25rem;
}

.grid_sedan__title {
  font-family: var(--font-heading);
  text-transform: uppercase;
  margin-top: 1rem;
  margin-left: 2rem;
  color: var(--very-light-gray);
}

.grid_sedan__description {
  font-family: var(--font-base);
  margin-left: 2rem;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: var(--transparent-white);
  word-wrap: normal;
}

.sedan {
  color: var(--bright-orange);
}

/* Grid Suv */

.grid_suv {
  background-color: var(--dark-cyan);
  height: 25rem;
}

.suv {
  color: var(--dark-cyan);
}

.grid_suv__title {
  font-family: var(--font-heading);
  text-transform: uppercase;
  margin-top: 1rem;
  margin-left: 2rem;
  color: var(--very-light-gray);
}

.grid_suv__description {
  font-family: var(--font-base);
  margin-left: 2rem;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: var(--transparent-white);
  word-wrap: normal;
}

/* Grid Luxury */

.grid_luxury {
  background-color: var(--very-dark-cyan);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  height: 25rem;
}

.grid_luxury__title {
  font-family: var(--font-heading);
  text-transform: uppercase;
  margin-top: 1rem;
  margin-left: 2rem;
  color: var(--very-light-gray);
}

.grid_luxury__description {
  font-family: var(--font-base);
  margin-left: 2rem;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: var(--transparent-white);
  word-wrap: normal;
}

.luxury {
  color: var(--dark-cyan);
}

@media screen and (min-width: 375px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    width: 28rem;
  }

  .grid_luxury {
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0.5rem;
  }

  .grid_sedan {
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
  }

  .grid_button{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem;
    width: 1000px;
    margin: 0 auto;
  }

  .grid_sedan {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0rem;
  }

  .grid_luxury {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
  }

  .grid_button:hover{
      background: transparent;
      transition: 0.2s ease-in-out;
      color: white;
      border: 1px solid white;
  }
}
